<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssm.mapper.qualityControl.FinalMeasuretCheckMapper">
    <select id="findByPage" resultMap="BaseResultMap">
        select f_measure_check_id,order_id,check_item,cdate,measure_data,emp_name,result,note
        from final_measuret_check f,employee e
        where f.emp_id=e.emp_id
        limit #{offset} , #{rows}
    </select>

    <resultMap id="BaseResultMap" type="com.ssm.bean.qualityControl.FinalMeasuretCheck">
        <result property="fMeasureCheckId" column="f_measure_check_id"/>
        <result property="orderId" column="order_id"/>
        <result property="checkItem" column="check_item"/>
        <result property="cdate" column="cdate"/>
        <result property="measureData" column="measure_data"/>
        <result property="empName" column="emp_name"/>
        <result property="result" column="result"/>
        <result property="note" column="note"/>
    </resultMap>

    <select id="findAllCount" resultType="_int">
        select count(f_measure_check_id) from final_measuret_check
    </select>

    <update id="updateNote">
        update final_measuret_check set note=#{note} where f_measure_check_id=#{id}
    </update>

</mapper>