<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssm.mapper.qualityControl.ProcessCountCheckMapper">
    <select id="findByPage" resultMap="BaseMap">
        null
    </select>

    <resultMap id="BaseMap" type="com.ssm.bean.qualityControl.ProcessCountCheck">
        <result property="" column="" />
    </resultMap>

    <select id="findAllCount" resultType="_int">
        null
    </select>

</mapper>