<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.mapper.qualityControl.UnqualifyMapper">
    <sql id="one" >
        (select unqualify_apply_id,product_id,unqualify_item,unqualify_count,assembly_date,emp_name,apply_date,un.note
         from unqualify_apply un,employee e
         where un.emp_id = e.emp_id limit #{offset},${rows})
    </sql>

    <select id="findByPage" resultMap="BaseMap">
        select unqualify_apply_id,product_name,unqualify_item,unqualify_count,assembly_date,emp_name,apply_date,one.note
        from <include refid="one"/> as one,product p
        where one.product_id = p.product_id
    </select>

    <resultMap id="BaseMap" type="com.ssm.bean.qualityControl.UnqualifyApply">
        <result property="unqualifyApplyId" column="unqualify_apply_id"/>
        <result property="productName" column="product_name"/>
        <result property="unqualifyItem" column="unqualify_item"/>
        <result property="unqualifyCount" column="unqualify_count"/>
        <result property="assemblyDate" column="assembly_date"/>
        <result property="empName" column="emp_name"/>
        <result property="applyDate" column="apply_date"/>
        <result property="note" column="note"/>
    </resultMap>

    <select id="findAllCount" resultType="_int">
        select count(unqualify_apply_id) from unqualify_apply
    </select>

    <update id="updateNote">
        update unqualify_apply set note=#{note} where unqualify_apply_id=#{id}
    </update>

</mapper>